In [113]:
import pandas as pd
import numpy as np
import pickle

In [114]:
from sklearn.preprocessing import OrdinalEncoder

In [115]:
df=pd.read_csv("Dataset/Raw/Std_dataset.csv")
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,24-26 years,Female,In a love relationship,Edtech,Public,M.Sc/M.A.,M.Sc/M.A.,Private Job,Private Job,">60,000",...,More than 80%class,Alone,Regular study during the semester,Always,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,21-23 years,Male,Single,Educational Technology,Public,B.A./B.Sc./Hons/Degree,B.A./B.Sc./Hons/Degree,Govt. Service,Housewife,"56000-60,000",...,More than 80%class,Alone,Close date to exam,Sometimes,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,21-23 years,Male,Single,Textile Engineering,Public,Secondary School,Secondary School,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,Sometimes,No,No,Tution,No,Sometimes,3.25 - 3.49
3,24-26 years,Male,In a love relationship,Textile Engineering,Public,B.A./B.Sc./Hons/Degree,College,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,Never,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,21-23 years,Male,Single,EEE,Private,College,Secondary School,Govt. Service,Housewife,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,Always,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872 entries, 0 to 871
Data columns (total 32 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Students age                                           872 non-null    object
 1   Gender                                                 872 non-null    object
 2   Relationship status                                    872 non-null    object
 3   Department                                             872 non-null    object
 4   Type of University                                     872 non-null    object
 5   Father's education                                     872 non-null    object
 6   Mother's education                                     872 non-null    object
 7   Father's Occupation                                    872 non-null    object
 8   Mother's Occupation                                    872 non-null    object
 9   Family Income(monthly)                                 872 non-null    object
 10  Number of Siblings                                     872 non-null    object
 11  Parental status                                        872 non-null    object
 12  Previous School Location                               872 non-null    object
 13  Previous College Location                              872 non-null    object
 14  SSC result                                             872 non-null    object
 15  HSC result                                             872 non-null    object
 16  Scholarship in SSC                                     872 non-null    object
 17  Scholarship in HSC                                     872 non-null    object
 18  Accommodation                                          872 non-null    object
 19  Weekly Study Time at home                              872 non-null    object
 20  Reading Scientific books/articles/journals             872 non-null    object
 21  Reading Non-Scientific books/articles/journals         872 non-null    object
 22  Attendance in class                                    872 non-null    object
 23  Mid-Term Exam Preparation                              872 non-null    object
 24  Taking Exam Preparation                                872 non-null    object
 25  Taking Class Note                                      872 non-null    object
 26  Any Co-curricular activity                             872 non-null    object
 27  Attend any Seminar related to department               872 non-null    object
 28  Any part-time job                                      872 non-null    object
 29  Smoking                                                872 non-null    object
 30  Sports/ Exercise                                       872 non-null    object
 31  Undergraduate 1st semester result (CGPA/GPA out of 4)  872 non-null    object
dtypes: object(32)
memory usage: 218.1+ KB

In [117]:
df['Students age'].unique()

array(['24-26 years', '21-23 years', 'Above 26', '18-20 years'],
      dtype=object)

In [118]:

encoder_Student_age=OrdinalEncoder(categories=[['18-20 years','21-23 years','24-26 years','Above 26']])
df1=encoder_Student_age.fit_transform(df[['Students age']])
df1=pd.Series(df1.flatten().astype(int))

In [119]:
with open('Models/encoder_Students_age.pkl', 'wb') as file:
    pickle.dump(encoder_Student_age,file)

In [120]:
df['Students age']=df1

In [121]:
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,Female,In a love relationship,Edtech,Public,M.Sc/M.A.,M.Sc/M.A.,Private Job,Private Job,">60,000",...,More than 80%class,Alone,Regular study during the semester,Always,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,Male,Single,Educational Technology,Public,B.A./B.Sc./Hons/Degree,B.A./B.Sc./Hons/Degree,Govt. Service,Housewife,"56000-60,000",...,More than 80%class,Alone,Close date to exam,Sometimes,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,Male,Single,Textile Engineering,Public,Secondary School,Secondary School,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,Sometimes,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,Male,In a love relationship,Textile Engineering,Public,B.A./B.Sc./Hons/Degree,College,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,Never,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,Male,Single,EEE,Private,College,Secondary School,Govt. Service,Housewife,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,Always,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [122]:
encoder_Gender=OrdinalEncoder(categories=[['Male', 'Female']])
df2=encoder_Gender.fit_transform(df[['Gender']])
df2=pd.Series(df2.flatten().astype(int))

In [123]:
with open('Models/encoder_Gender.pkl', 'wb') as file:
    pickle.dump(encoder_Gender,file)

In [124]:
df['Gender']=df2

In [125]:
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,In a love relationship,Edtech,Public,M.Sc/M.A.,M.Sc/M.A.,Private Job,Private Job,">60,000",...,More than 80%class,Alone,Regular study during the semester,Always,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,Single,Educational Technology,Public,B.A./B.Sc./Hons/Degree,B.A./B.Sc./Hons/Degree,Govt. Service,Housewife,"56000-60,000",...,More than 80%class,Alone,Close date to exam,Sometimes,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,Single,Textile Engineering,Public,Secondary School,Secondary School,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,Sometimes,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,In a love relationship,Textile Engineering,Public,B.A./B.Sc./Hons/Degree,College,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,Never,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,Single,EEE,Private,College,Secondary School,Govt. Service,Housewife,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,Always,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [126]:
df['Relationship status'].unique()

array(['In a love relationship', 'Single', 'Married'], dtype=object)

In [127]:
encoder_Relationship_status=OrdinalEncoder(categories=[['Single', 'In a love relationship', 'Married']])
df3=encoder_Relationship_status.fit_transform(df[['Relationship status']])
df3=pd.Series(df3.flatten().astype(int))

In [128]:
with open('Models/encoder_Relationship_status.pkl', 'wb') as file:
    pickle.dump(encoder_Relationship_status,file)

In [129]:
df['Relationship status']=df3
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,Public,M.Sc/M.A.,M.Sc/M.A.,Private Job,Private Job,">60,000",...,More than 80%class,Alone,Regular study during the semester,Always,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,Public,B.A./B.Sc./Hons/Degree,B.A./B.Sc./Hons/Degree,Govt. Service,Housewife,"56000-60,000",...,More than 80%class,Alone,Close date to exam,Sometimes,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,Public,Secondary School,Secondary School,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,Sometimes,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,Public,B.A./B.Sc./Hons/Degree,College,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,Never,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,Private,College,Secondary School,Govt. Service,Housewife,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,Always,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [130]:
len(df['Department'].unique())

149

In [131]:
df['Type of University'].unique()

array(['Public', 'Private', 'Others'], dtype=object)

In [132]:
encoder_Type_of_University=OrdinalEncoder(categories=[['Public', 'Private', 'Others']])
df1=encoder_Type_of_University.fit_transform(df[["Type of University"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Type_of_University.pkl', 'wb') as file:
    pickle.dump(encoder_Type_of_University,file)
df["Type of University"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,M.Sc/M.A.,M.Sc/M.A.,Private Job,Private Job,">60,000",...,More than 80%class,Alone,Regular study during the semester,Always,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,B.A./B.Sc./Hons/Degree,B.A./B.Sc./Hons/Degree,Govt. Service,Housewife,"56000-60,000",...,More than 80%class,Alone,Close date to exam,Sometimes,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,Secondary School,Secondary School,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,Sometimes,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,B.A./B.Sc./Hons/Degree,College,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,Never,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,College,Secondary School,Govt. Service,Housewife,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,Always,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [133]:
df["Father's education"].unique()

array(['M.Sc/M.A.', 'B.A./B.Sc./Hons/Degree', 'Secondary School',
       'College', 'Primary School', 'Ph.D.'], dtype=object)

In [134]:
encoder_Father_education=OrdinalEncoder(categories=[['Primary School', 'Secondary School', 'College', 'B.A./B.Sc./Hons/Degree', 'M.Sc/M.A.','Ph.D.']])
df1=encoder_Father_education.fit_transform(df[["Father's education"]])
df1=pd.Series(df1.flatten().astype(int))

In [135]:
with open('Models/encoder_Father_education.pkl', 'wb') as file:
    pickle.dump(encoder_Father_education,file)

In [136]:
df["Father's education"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,M.Sc/M.A.,Private Job,Private Job,">60,000",...,More than 80%class,Alone,Regular study during the semester,Always,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,B.A./B.Sc./Hons/Degree,Govt. Service,Housewife,"56000-60,000",...,More than 80%class,Alone,Close date to exam,Sometimes,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,Secondary School,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,Sometimes,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,College,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,Never,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,Secondary School,Govt. Service,Housewife,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,Always,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [137]:
df["Taking Class Note"].unique()

array(['Always', 'Sometimes', 'Never'], dtype=object)

In [138]:
encoder_Taking_Class_Note=OrdinalEncoder(categories=[['Never', 'Sometimes', 'Always']])
df1=encoder_Taking_Class_Note.fit_transform(df[["Taking Class Note"]])
df1=pd.Series(df1.flatten().astype(int))

In [139]:
with open('Models/encoder_Taking_Class_Note.pkl', 'wb') as file:
    pickle.dump(encoder_Taking_Class_Note,file)

In [140]:
df["Taking Class Note"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,M.Sc/M.A.,Private Job,Private Job,">60,000",...,More than 80%class,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,B.A./B.Sc./Hons/Degree,Govt. Service,Housewife,"56000-60,000",...,More than 80%class,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,Secondary School,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,College,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,Secondary School,Govt. Service,Housewife,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [141]:
df["Mother's education"].unique()

array(['M.Sc/M.A.', 'B.A./B.Sc./Hons/Degree', 'Secondary School',
       'College', 'Primary School', 'Ph.D.'], dtype=object)

In [142]:
encoder_Mother_education=OrdinalEncoder(categories=[['Primary School', 'Secondary School', 'College', 'B.A./B.Sc./Hons/Degree', 'M.Sc/M.A.','Ph.D.']])
df1=encoder_Mother_education.fit_transform(df[["Mother's education"]])
df1=pd.Series(df1.flatten().astype(int))

In [143]:
with open('Models/encoder_Mother_education.pkl', 'wb') as file:
    pickle.dump(encoder_Mother_education,file)

In [144]:
df["Mother's education"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,Private Job,Private Job,">60,000",...,More than 80%class,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,Govt. Service,Housewife,"56000-60,000",...,More than 80%class,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,Retired,Housewife,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,Govt. Service,Housewife,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [145]:
df["Father's Occupation"].unique()

array(['Private Job', 'Govt. Service', 'Retired', 'Business',
       'Self-employed'], dtype=object)

In [146]:
encoder_Father_occupation=OrdinalEncoder(categories=[['Private Job', 'Self-employed', 'Business', 'Govt. Service', 'Retired']])
df1=encoder_Father_occupation.fit_transform(df[["Father's Occupation"]])
df1=pd.Series(df1.flatten().astype(int))

In [147]:
with open('Models/encoder_Father_occupation.pkl', 'wb') as file:
    pickle.dump(encoder_Father_occupation,file)

In [148]:
df["Father's Occupation"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,Private Job,">60,000",...,More than 80%class,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,Housewife,"56000-60,000",...,More than 80%class,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,Housewife,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,Housewife,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,Housewife,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [149]:
df["Mother's Occupation"].unique()

array(['Private Job', 'Housewife', 'Govt. Service', 'Self-employed',
       'Business'], dtype=object)

In [150]:
encoder_Mother_occupation=OrdinalEncoder(categories=[['Private Job', 'Self-employed', 'Business', 'Govt. Service', 'Housewife']])
df1=encoder_Mother_occupation.fit_transform(df[["Mother's Occupation"]])
df1=pd.Series(df1.flatten().astype(int))

In [151]:
with open('Models/encoder_Mother_occupation.pkl', 'wb') as file:
    pickle.dump(encoder_Mother_occupation,file)

In [152]:
df["Mother's Occupation"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,More than 80%class,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,More than 80%class,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [153]:
df["Family Income(monthly)"].unique()

array(['>60,000', '56000-60,000', '26,000-40,000TK', '41000-55000TK',
       '<25,000Tk'], dtype=object)

In [154]:
# encoder_Family_Income_Monthly=OrdinalEncoder(categories=[['>60,000', '56000-60,000', '26,000-40,000TK', '41000-55000TK','<25,000Tk']])
# df1=encoder_Family_Income_Monthly.fit_transform(df[["Family Income(monthly)"]])
# df1=pd.Series(df1.flatten().astype(int))

In [155]:
# with open('Models/encoder_Family_Income_Monthly.pkl', 'wb') as file:
#     pickle.dump(encoder_Family_Income_Monthly,file)

In [156]:
# df["Family Income(monthly)"]=df1
# df.head()

In [157]:
df["Number of Siblings"].unique()

array(['2', '1', '3 or above', 'No Siblings'], dtype=object)

In [158]:
# encoder_Number_of_siblings=OrdinalEncoder(categories=[['>60,000', '56000-60,000', '26,000-40,000TK', '41000-55000TK','<25,000Tk']])
# df1=encoder_Number_of_siblings.fit_transform(df[["Number of Siblings"]])
# df1=pd.Series(df1.flatten().astype(int))

In [159]:
# with open('Models/encoder_Number_of_siblings.pkl', 'wb') as file:
#     pickle.dump(encoder_Number_of_siblings,file)

In [160]:
# df["Number of Siblings"]=df1
# df.head()

In [161]:
df["Parental status"].unique()

array(['Happily Married', 'Died-one of them or both', 'Divorced'],
      dtype=object)

In [162]:
encoder_Parental_status=OrdinalEncoder(categories=[['Happily Married', 'Died-one of them or both', 'Divorced']])
df1=encoder_Parental_status.fit_transform(df[["Parental status"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Parental_status.pkl', 'wb') as file:
    pickle.dump(encoder_Parental_status,file)
df["Parental status"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,More than 80%class,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,More than 80%class,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [163]:
df["Previous School Location"].unique()

array(['Rural', 'Urban', 'Country Town'], dtype=object)

In [164]:
encoder_Previous_school_location=OrdinalEncoder(categories=[['Rural', 'Urban', 'Country Town']])
df1=encoder_Previous_school_location.fit_transform(df[["Previous School Location"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Previous_school_location.pkl', 'wb') as file:
    pickle.dump(encoder_Previous_school_location,file)
df["Previous School Location"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,More than 80%class,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,More than 80%class,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [165]:
df["Previous College Location"].unique()

array(['Urban', 'Country Town', 'Rural'], dtype=object)

In [166]:
encoder_Previous_college_location=OrdinalEncoder(categories=[['Rural', 'Urban', 'Country Town']])
df1=encoder_Previous_college_location.fit_transform(df[["Previous College Location"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Previous_college_location.pkl', 'wb') as file:
    pickle.dump(encoder_Previous_college_location,file)
df["Previous College Location"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,More than 80%class,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,More than 80%class,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [167]:
df["SSC result"].unique()

array(['GPA 5.00', 'GPA 4.00 - 4.99', 'Less than 3.00', 'GPA 3.00 - 3.99'],
      dtype=object)

In [168]:
encoder_SSC_result=OrdinalEncoder(categories=[['Less than 3.00', 'GPA 3.00 - 3.99', 'GPA 4.00 - 4.99', 'GPA 5.00']])
df1=encoder_SSC_result.fit_transform(df[["SSC result"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_SSC_result.pkl', 'wb') as file:
    pickle.dump(encoder_SSC_result,file)
df["SSC result"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,More than 80%class,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,More than 80%class,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [169]:
df["HSC result"].unique()

array(['GPA 5.00', 'GPA 4.00 - 4.99', 'GPA 3.00 - 3.99', 'Less than 3.00'],
      dtype=object)

In [170]:
encoder_HSC_result=OrdinalEncoder(categories=[['Less than 3.00', 'GPA 3.00 - 3.99', 'GPA 4.00 - 4.99', 'GPA 5.00']])
df1=encoder_HSC_result.fit_transform(df[["HSC result"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_HSC_result.pkl', 'wb') as file:
    pickle.dump(encoder_HSC_result,file)
df["HSC result"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,More than 80%class,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,More than 80%class,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [171]:
df["Scholarship in SSC"].unique()

array(['Yes', 'No'], dtype=object)

In [172]:
encoder_Scholarship_in_SSC=OrdinalEncoder(categories=[['No', 'Yes']])
df1=encoder_Scholarship_in_SSC.fit_transform(df[["Scholarship in SSC"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Scholarship_in_SSC.pkl', 'wb') as file:
    pickle.dump(encoder_Scholarship_in_SSC,file)
df["Scholarship in SSC"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,More than 80%class,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,More than 80%class,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [173]:
df["Scholarship in HSC"].unique()

array(['Yes', 'No'], dtype=object)

In [174]:
encoder_Scholarship_in_HSC=OrdinalEncoder(categories=[['No', 'Yes']])
df1=encoder_Scholarship_in_HSC.fit_transform(df[["Scholarship in HSC"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Scholarship_in_HSC.pkl', 'wb') as file:
    pickle.dump(encoder_Scholarship_in_HSC,file)
df["Scholarship in HSC"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,More than 80%class,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,More than 80%class,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [175]:
df["Accommodation"].unique()

array(['University Hall', 'With family', 'Rental', 'Others'], dtype=object)

In [176]:
encoder_Accommodation=OrdinalEncoder(categories=[['With family', 'University Hall', 'Rental', 'Others']])
df1=encoder_Accommodation.fit_transform(df[["Accommodation"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Accommodation.pkl', 'wb') as file:
    pickle.dump(encoder_Accommodation,file)
df["Accommodation"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,More than 80%class,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,More than 80%class,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [177]:
df["Weekly Study Time at home"].unique()

array(['11-15 Hour', '2-5 Hour', '6-10Hour', 'Less than 1 Hour',
       '11-14 Hour', 'More than 15 Hour'], dtype=object)

In [178]:
encoder_Weekly_study_time_at_home=OrdinalEncoder(categories=[['Less than 1 Hour', '2-5 Hour', '6-10Hour', '11-14 Hour', '11-15 Hour', 'More than 15 Hour']])
df1=encoder_Weekly_study_time_at_home.fit_transform(df[["Weekly Study Time at home"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Weekly_study_time_at_home.pkl', 'wb') as file:
    pickle.dump(encoder_Weekly_study_time_at_home,file)
df["Weekly Study Time at home"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,More than 80%class,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,More than 80%class,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [179]:
df["Reading Scientific books/articles/journals"].unique()

array(['No', 'Yes'], dtype=object)

In [180]:
encoder_Reading_Scientific_books=OrdinalEncoder(categories=[['No', 'Yes']])
df1=encoder_Reading_Scientific_books.fit_transform(df[["Reading Scientific books/articles/journals"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Reading_Scientific_books.pkl', 'wb') as file:
    pickle.dump(encoder_Reading_Scientific_books,file)
df["Reading Scientific books/articles/journals"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,More than 80%class,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,More than 80%class,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,More than 80%class,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,More than 80%class,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,More than 80%class,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [181]:
df["Attendance in class"].unique()

array(['More than 80%class', '60%-79% classes', 'Less than 60% classes'],
      dtype=object)

In [182]:
encoder_Attendance_in_class=OrdinalEncoder(categories=[["Less than 60% classes", "60%-79% classes", "More than 80%class"]])
df1=encoder_Attendance_in_class.fit_transform(df[["Attendance in class"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Attendance_in_class.pkl', 'wb') as file:
    pickle.dump(encoder_Attendance_in_class,file)
df["Attendance in class"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,2,Alone,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,2,Alone,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,2,Alone,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,2,Not applicable,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,2,Group study,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [183]:
df["Mid-Term Exam Preparation"].unique()

array(['Alone', 'Not applicable', 'Group study'], dtype=object)

In [184]:
encoder_Mid_Term_Exam_Preparation=OrdinalEncoder(categories=[['Not applicable', 'Alone', 'Group study']])
df1=encoder_Mid_Term_Exam_Preparation.fit_transform(df[["Mid-Term Exam Preparation"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Mid_Term_Exam_Preparation.pkl', 'wb') as file:
    pickle.dump(encoder_Mid_Term_Exam_Preparation,file)
df["Mid-Term Exam Preparation"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,2,1,Regular study during the semester,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,2,1,Close date to exam,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,2,1,Close date to exam,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,2,0,Close date to exam,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,2,2,Close date to exam,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [185]:
df["Taking Exam Preparation"].unique()

array(['Regular study during the semester', 'Close date to exam', 'Never'],
      dtype=object)

In [186]:
encoder_Taking_Exam_Preparation=OrdinalEncoder(categories=[['Never', 'Close date to exam', 'Regular study during the semester']])
df1=encoder_Taking_Exam_Preparation.fit_transform(df[["Taking Exam Preparation"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Taking_Exam_Preparation.pkl', 'wb') as file:
    pickle.dump(encoder_Taking_Exam_Preparation,file)
df["Taking Exam Preparation"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,2,1,2,2,Yes,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,2,1,1,1,Yes,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,2,1,1,1,No,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,2,0,1,0,No,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,2,2,1,2,Yes,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [187]:
df["Any Co-curricular activity"].unique()

array(['Yes', 'No'], dtype=object)

In [188]:
encoder_Any_Co_curricular_activity=OrdinalEncoder(categories=[['No', 'Yes']])
df1=encoder_Any_Co_curricular_activity.fit_transform(df[["Any Co-curricular activity"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Any_Co_curricular_activity.pkl', 'wb') as file:
    pickle.dump(encoder_Any_Co_curricular_activity,file)
df["Any Co-curricular activity"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,2,1,2,2,1,Yes,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,2,1,1,1,1,Yes,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,2,1,1,1,0,No,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,2,0,1,0,0,No,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,2,2,1,2,1,Yes,Not Applicable,No,Sometimes,3.75 - 4.00

In [189]:
df["Attend any Seminar related to department"].unique()

array(['Yes', 'No'], dtype=object)

In [190]:
encoder_Attend_any_Seminar_related_to_department=OrdinalEncoder(categories=[['No', 'Yes']])
df1=encoder_Attend_any_Seminar_related_to_department.fit_transform(df[["Attend any Seminar related to department"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Attend_any_Seminar_related_to_department.pkl', 'wb') as file:
    pickle.dump(encoder_Attend_any_Seminar_related_to_department,file)
df["Attend any Seminar related to department"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,2,1,2,2,1,1,Tution,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,2,1,1,1,1,1,Others,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,2,1,1,1,0,0,Tution,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,2,0,1,0,0,0,Not Applicable,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,2,2,1,2,1,1,Not Applicable,No,Sometimes,3.75 - 4.00

In [191]:
df["Any part-time job"].unique()

array(['Tution', 'Others', 'Not Applicable', 'Business'], dtype=object)

In [192]:
encoder_Any_part_time_job=OrdinalEncoder(categories=[['Not Applicable', 'Tution', 'Business', 'Others',]])
df1=encoder_Any_part_time_job.fit_transform(df[["Any part-time job"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Any_part_time_job.pkl', 'wb') as file:
    pickle.dump(encoder_Any_part_time_job,file)
df["Any part-time job"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,2,1,2,2,1,1,1,No,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,2,1,1,1,1,1,3,No,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,2,1,1,1,0,0,1,No,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,2,0,1,0,0,0,0,No,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,2,2,1,2,1,1,0,No,Sometimes,3.75 - 4.00

In [193]:
df["Smoking"].unique()

array(['No', 'Yes'], dtype=object)

In [194]:
encoder_Smoking=OrdinalEncoder(categories=[['No', 'Yes']])
df1=encoder_Smoking.fit_transform(df[["Smoking"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Smoking.pkl', 'wb') as file:
    pickle.dump(encoder_Smoking,file)
df["Smoking"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,2,1,2,2,1,1,1,0,Sometimes,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,2,1,1,1,1,1,3,0,Sometimes,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,2,1,1,1,0,0,1,0,Sometimes,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,2,0,1,0,0,0,0,0,Sometimes,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,2,2,1,2,1,1,0,0,Sometimes,3.75 - 4.00

In [195]:
df["Sports/ Exercise"].unique()

array(['Sometimes', 'Never', 'Always'], dtype=object)

In [196]:
encoder_Sports_Exercise=OrdinalEncoder(categories=[['Never', 'Sometimes', 'Always']])
df1=encoder_Sports_Exercise.fit_transform(df[["Sports/ Exercise"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Sports_Exercise.pkl', 'wb') as file:
    pickle.dump(encoder_Sports_Exercise,file)
df["Sports/ Exercise"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,2,1,2,2,1,1,1,0,1,3.75 - 4.00
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,2,1,1,1,1,1,3,0,1,3.50 - 3.74
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,2,1,1,1,0,0,1,0,1,3.25 - 3.49
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,2,0,1,0,0,0,0,0,1,3.00 - 3.24
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,2,2,1,2,1,1,0,0,1,3.75 - 4.00

In [197]:
df["Undergraduate 1st semester result (CGPA/GPA out of 4)"].unique()

array(['3.75 - 4.00', '3.50 - 3.74', '3.25 - 3.49', '3.00 - 3.24',
       'Less than 2.50', '2.75 - 2.99', '2.50 - 2.74', 'Fail'],
      dtype=object)

In [198]:
encoder_Undergraduate_1st_semester_result=OrdinalEncoder(categories=[['Fail', 'Less than 2.50', '2.50 - 2.74', '2.75 - 2.99', '3.00 - 3.24', '3.25 - 3.49', '3.50 - 3.74', '3.75 - 4.00']])
df1=encoder_Undergraduate_1st_semester_result.fit_transform(df[["Undergraduate 1st semester result (CGPA/GPA out of 4)"]])
df1=pd.Series(df1.flatten().astype(int))
with open('Models/encoder_Undergraduate_1st_semester_result.pkl', 'wb') as file:
    pickle.dump(encoder_Undergraduate_1st_semester_result,file)
df["Undergraduate 1st semester result (CGPA/GPA out of 4)"]=df1
df.head()

,Students age,Gender,Relationship status,Department,Type of University,Father's education,Mother's education,Father's Occupation,Mother's Occupation,Family Income(monthly),...,Attendance in class,Mid-Term Exam Preparation,Taking Exam Preparation,Taking Class Note,Any Co-curricular activity,Attend any Seminar related to department,Any part-time job,Smoking,Sports/ Exercise,Undergraduate 1st semester result (CGPA/GPA out of 4)
0,2,1,1,Edtech,0,4,4,0,0,">60,000",...,2,1,2,2,1,1,1,0,1,7
1,1,0,0,Educational Technology,0,3,3,3,4,"56000-60,000",...,2,1,1,1,1,1,3,0,1,6
2,1,0,0,Textile Engineering,0,1,1,4,4,"26,000-40,000TK",...,2,1,1,1,0,0,1,0,1,5
3,2,0,1,Textile Engineering,0,3,2,4,4,"26,000-40,000TK",...,2,0,1,0,0,0,0,0,1,4
4,1,0,0,EEE,1,2,1,3,4,"26,000-40,000TK",...,2,2,1,2,1,1,0,0,1,7